<div class="container">

  <div class="py-5">
    <div class="activeSection    d-flex  rounded p-3 justify-content-center m-auto" >
      <!-- active users -->
      <div class="activeCars px-3  text-center w-50">
          <h3> Active Cars</h3>
          <h1> {{ActiveCarsCount.length}}</h1>
      </div>
      <div class="activeUsers px-3  text-center w-50">
        <h3> All  Cars</h3>
        <h1> {{allCars.length}}</h1>
    </div>
    </div>


    <!-- Form  -->
<form [formGroup]="carForm"  (ngSubmit)="onSubmit()" class="bg-light my-5 p-5">
<h4>Add New Car</h4>
<div class="row">
<div class="col">
<input type="text" formControlName="code" class="form-control" placeholder="Car  Code">
</div>
<div class="col">
<input type="password"  formControlName="password" class="form-control" placeholder="Car Password">
</div>
<!-- <div class="col">
<input type="text" formControlName="Version" class="form-control" placeholder="Car Version">
</div> -->
</div>
<div class="col my-2">
  <select class="form-select" aria-label="Default select example" formControlName="Version">
    <option value=" Select Firmware"> Select Firmware</option>
    <option *ngFor="let firmware of allFirmwars" value={{firmware.versionName}}>{{firmware.versionName}}</option>
  </select>
</div>
<div class="col-auto my-1 text-end pt-3">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>


    <div class="cars-info-list py-5" >
      <div class="row">




        <!-- one car -->
        <div class="col-md-4 my-3" *ngFor="let car of allCars" >
          <!-- *ngIf="searchText === '' || car.code.includes(searchText)" -->
          <div class="card h-100" >
            <div class="card-body">
              <h5 class="card-title text-center">{{car.code}}  </h5>
              <img
                class="img-fluid d-flex mx-auto rounded "
                src="../assets/cars/vw1.png"
                alt="Card image cap"
              />
              <h3 class="card-title text-center py-2">{{car.admin?.fullname}} </h3>

              <div class="text-black text-center "> 
                <i class='bx bxs-circle text-success ' *ngIf="car.isActive;else active_content"></i>
                <ng-template #active_content>
                  <i class='bx bxs-circle text-danger'></i>
                </ng-template>
                <span class="py-2" *ngIf="car.isActive;else other_content" >Active  |</span>
                <ng-template #other_content>Not Active  |</ng-template>

                <span class="px-2"> Up To Date</span>
              </div>
              <div class=" text-center  mt-3"> 
                <button [routerLink]="['/carmodify', car._id]" class="btn btn-primary">  More</button>
              </div>
            </div>
          </div>  
        </div> 


 
      </div>
    </div>
  </div>



</div>
